.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

# IDE Files
#-------------------------
/nbproject/
.idea/*

## omitir archivos sql
.sql

## omitir el config del proyecto
application/config/